<div class="u-pull-right">
    <button>Personal Settings</button>
</div>
<div class="u-cf"></div>
<h2>Welcome, {{currentUser.firstName}}!</h2>

<div class="card" ng-repeat="announcement in announcements">
    <div class="card-title">
        {{announcement.name}}
        <div class="u-pull-right"><i class="fa fa-circle"></i></div>
        <div class="u-cf"></div>
    </div>
    <div class="card-body">
        <ul>
            <li ng-repeat="item in announcement.items">
                {{item}}
            </li>
        </ul>
    </div>
</div>